<div id="wrapper">
    <%= render 'shared/side_nav'%>
    <!-- Page Content -->
     <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Facebook Content Scores</h1>
                     <div class= "col-md-4" id="quarter" style="width:400px; height:320px"></div>
                     <div class= "col-md-4" id="month" style="width:400px; height:320px"></div>
                     <div class= "col-md-4" id="week" style="width:400px; height:320px"></div>
                     <div class= "col-md-4" id="line" style="width:400px; height:320px"></div>
                     
                </div>
                 <%= render 'shared/engagements'%>
                 <%= render 'shared/morris_engagements'%>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
